{{> header}}

    <div class="header mt-3">

    </div>

    <div class="row pt-3">
        <div class="col-lg-6 col-sm-12 mb-5 d-flex justify-content-start justify-content-lg-center order-2">
            <form class="search-form">
                <input class="location" type="text" placeholder="Location" required autofocus>
                <input class="searchBtn btn btn-dark" type="submit" value="Search">
            </form>
        </div>
        <div class="col-lg-6 col-sm-12 order-1">
            <h4>Search here and get the weather temperature</h4>
            <p class="forecast"></p>
        </div>
    </div>
    

    
    

<script src="/js/app.js"></script>
{{> footer}}