{{> header}}


    <h4 class="pt-5">Search here and get the weather temperature</h4>

    <p class="forecast"></p>

    <form class="search-form">
        <input class="location" type="text" placeholder="Location" required autofocus>
        <input class="searchBtn btn btn-dark" type="submit" value="Search">
    </form>

    

<script src="/js/app.js"></script>
{{> footer}}