h1 {
    color: #888888;
    font-size: 45px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 1000px;
    margin: 0 auto;
    color: #333333;
}

.main-content {
    flex-grow: 1;
}

.nav {
    display: flex;
    width: 200px;
    justify-content: space-between;
    list-style: none;
    margin-left: 2px;
    padding: 0;
}

.nav a {
    text-decoration: none;
    color: #333333;
}

.search-form {
    padding-top: 50px;
}

footer {
    border-top: 1px solid #888888;
    padding: 15px 0;
}