</div>
    <div class="container">
        <footer>
            <p>Created by {{author}}</p>
        </footer>
    </div>
</body>
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</html>